*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    direction: rtl;
}
.nav{
    font-size: 20px;
    background: #D6E4E5;
}
.img-fluid{
    align-items: center;
    justify-content: space-around;
}
.pic{
    background: #D6E4E5;
    display: flex;
    align-items: center;
    height: 450px;
    justify-content: space-around;
    width: 100%;
}
.text{
    text-align: center;
    padding: 10px;
}
.info{
    background: #D6E4E5;
    padding: 40px;
    width: 100%;
    text-align: center;
}
.life{
    padding: 20px;
}
.address{
    text-align: center;
}
.poetry{
    background: #D6E4E5;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}